:root {
    /* Color Scheme */
    --primary-color: #ffffff;
    --accent-color-1: #34af44;
    --accent-color-2: #8C8888;
    --accent-color-3: #aba1a1;
    --accent-color-4: #5a5a5a;
    --accent-color-5: #0D0D0D;
    --accent-gradient-1: linear-gradient(138deg, #69aa6d 36.39%, #32a838 93.26%);
    --navigation-color: #171717;
    --text-color-primary: #0A0A0A;
    --text-color-content: #0D0D0D;
    --text-color-grey: #8C8888;
    --card-color: #242424;
    --background-color: #FFF;
    --header-background: #2b2b2b;
    --footer-background: #e4e4e4;
    --footer-text-color: #7a7d89;
    --footer-text-hover: #8f93a2;
    /* Typography */
    --font-family: Helvetica, Arial, sans-serif;
    --font-size-base: 18px;
    --font-size-heading: 24px;
    --font-weight-regular: 500;
    --font-weight-bold: 900;
    /* Spacing & layout */
    --spacing-unit: 18px;
    /* Transitions */
    --transition-duration: .3s;
    --scale: 1;
    --scale-hover: 1.02;
}

body {
    /* Global settings */
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Navigation */

.nav-wrapper {
    background-color: var(--background-color);
    /* display: flex;
    width: 100%;
    height: 80px;
    padding: 24px 65px 0px 65px;
    justify-content: space-between;
    align-items: center; */
}

.nav-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 85vw;
    margin: auto;
}

.nav-container ul li {
    display: inline;
}

.nav-container img{
    height: 30px;
    width: auto;
}

.nav-link {
    color: var(--text-color);
    font-size: .95em;
    margin-left: 40px;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--accent-color-4);
    transition: var(--transition-duration);
}

.hero-nav-link {
    color: var(--primary-color);
    margin-left: 40px;
    text-decoration: none;
    padding: 14px 24px;
    border-radius: 13px;
    background: var(--accent-color-5);
}

.hero-nav-link:hover {
    background: var(--accent-gradient-1);
    transition: var(--transition-duration);
}